@using WebMVC.Models;
@model Tuple<List<UserFront>, UserFront>

@{
    ViewData["Title"] = "Home Page";

}

<div class="container">
    <div class="row">
        <h5>Cliente</h5>
    </div>
    @using (Html.BeginForm("PostUser", "Home", FormMethod.Post)){
    <div class="row">
        <div class="col-12 col-md-3 div-margin">
            <label>CPF*</label>
            <input type="text" id="cpf" name="cpf" oninput="formatarCPF(this)" class="form-control" placeholder="" maxlength="14" />
            <div id="cpfValidationStatus" class="mensagem-erro"></div>
        </div>
        <div class="col-12 col-md-9">
            <label>Nome*</label>
            <input type="text" name="nome" class="form-control" placeholder="" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 div-margin">
            <label>RG</label>
            <input type="text" name="rg" class="form-control" placeholder="" />
        </div>
        <div class="col-12 col-md-3 div-margin">
            <label>Data Expedição</label>
            <input type="date" name="dataExpedicao" class="form-control" placeholder="" />
        </div>
        <div class="col-12 col-md-4 div-margin ajuste-select">
            <label>Orgão Expedição</label>
            <select class="form-control" name="orgaoExpedicao">
                <option value="SSP-AC">Secretaria de Segurança Pública do Acre (SSP-AC)</option>
                <option value="SSP/AL">Secretaria de Segurança Pública de Alagoas (SSP/AL)</option>
                <option value="SSP/AP">Secretaria de Segurança Pública do Amapá (SSP/AP)</option>
                <option value="SSP/AM">Secretaria de Segurança Pública do Amazonas (SSP/AM)</option>
                <option value="SSPDS/CE">Secretaria da Segurança Pública e Defesa Social do Estado do Ceará (SSPDS/CE)</option>
                <option value="SSP/DF">Secretaria de Segurança Pública do Distrito Federal (SSP/DF)</option>
                <option value="SESP/ES">Secretaria de Estado da Segurança Pública e Defesa Social do Espírito Santo (SESP/ES)</option>
                <option value="SSP/GO">Secretaria de Segurança Pública do Estado de Goiás (SSP/GO)</option>
                <option value="SSP/MA">Secretaria de Segurança Pública do Estado do Maranhão (SSP/MA)</option>
                <option value="SSP-MT">Secretaria de Segurança Pública de MT (SSP-MT)</option>
                <option value="SSP/MS">Secretaria de Segurança Pública do Estado de MS (SSP/MS)</option>
                <option value="SSP/MG">Secretaria de Estado de Segurança Pública de Minas Gerais (SSP/MG)</option>
                <option value="SSP/PA">Secretaria de Estado de Segurança Pública e Defesa Social do Pará (SSP/PA)</option>
                <option value="SSP/PB">Secretaria do Estado da Segurança e da Defesa Social da Paraíba (SSP/PB)</option>
                <option value="SSP/PR">Secretaria de Estado da Segurança Pública do Paraná (SSP/PR)</option>
                <option value="SSP/PE">Secretaria de Segurança Pública do estado de Pernambuco (SSP/PE)</option>
                <option value="SSP/RJ">Secretaria de Estado da Segurança Pública do Rio de Janeiro (SSP/RJ)</option>
                <option value="SESED/RN">Secretaria da Segurança Pública e da Defesa Social (SESED/RN)</option>
                <option value="SSP/RS">Secretaria da Segurança Pública do Rio Grande do Sul (SSP/RS)</option>
                <option value="SESDEC/RO">Secretaria de Estado de Segurança, Defesa e Cidadania (SESDEC/RO)</option>
                <option value="SESP/RR">Secretaria de Estado da Segurança Pública de Roraima (SESP/RR)</option>
                <option value="SSP/SC">Secretaria de Estado de Segurança Pública de Santa Catarina (SSP/SC)</option>
                <option value="SSP/TO">Secretaria da Segurança Púbica do Estado de Tocantins (SSP/TO)</option>
            </select>
        </div>
        <div class="col-12 col-md-2 ajuste-select">
            <label>UF Expedição</label>
            <select class="form-control" name="orgaoUf">
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 div-margin">
            <label>Data de Nascimento*</label>
            <input type="date" name="dataNascimento" class="form-control" id="dataNascimento" onchange="validarDataNascimento()" />
            <div id="validaDataNascimento" class="mensagem-erro"></div>
        </div>
        <div class="col-12 col-md-3 div-margin ajuste-select">
            <label>Sexo*</label>
            <select class="form-control" name="sexo">
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
                <option value="Outro">Outro</option>
            </select>
        </div>
        <div class="col-12 col-md-3 ajuste-select">
            <label>Estado Civil*</label>
            <select class="form-control" name="estadoCivil">
                <option value="Solteiro(a)">Solteiro(a)</option>
                <option value="Casado(a)">Casado(a)</option>
                <option value="Divorciado(a)">Divorciado(a)</option>
            </select>
        </div>
    </div>
    <div class="row ">
        <div class="hr-margin-top">
            <hr />
        </div>
    </div>
    <div class="row">
        <h5 class="h5-margin">Endereço</h5>
    </div>
    <div class="row">
        <div class="col-12 col-md-2 div-margin">
            <label>CEP*</label>
            <input type="text" name="cep" class="form-control" placeholder="" />
        </div>
        <div class="col-12 col-md-2 div-margin">
            <label>Rua*</label>
            <input type="text" name="logradouro" class="form-control" placeholder="" />
        </div>
        <div class="col-12 col-md-1 div-margin">
            <label>Número*</label>
            <input type="text" name="numero" class="form-control" placeholder="" />
        </div>
        <div class="col-12 col-md-2 div-margin">
            <label>Complemento*</label>
            <input type="text" name="complemento" class="form-control" placeholder="" />
        </div>
        <div class="col-12 col-md-2 div-margin">
            <label>Bairro*</label>
            <input type="text" name="bairro" class="form-control" placeholder="" />
        </div>
        <div class="col-12 col-md-2 div-margin">
            <label>Cidade*</label>
            <input type="text" name="cidade" class="form-control" placeholder="" />
        </div>
        <div class="col-12 col-md-1 div-margin ajuste-select">
            <label>UF*</label>
            <select class="form-control" name="ufEstado">
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="hr-margin-top">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="margin-btn">
            <button class="btn btn-sucesso"> Atualizar <i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
    }
    <div class="row">
        <div class="margin-gridview">
            <h5 class="h5-margin">Lista de Clientes</h5>
        </div>
    </div>
    <div class="row">
        <table class="table" id="tblCustomers">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>                    
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item1)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>                  
                        <td>
                            <a  href="@Url.Action("EditarUsuario","Home")/@item.Id"><i class='fa fa-pencil'></i> Editar</a>
                            <a href="@Url.Action("DeleteUser","Home")/@item.Id" onclick="return confirm('Deseja exluir esse registro?')"
                            id='btnDelete' style='margin-left:5px'><i class='fa fa-trash'></i> Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>